*{
    margin: 0%;
    padding: 0%;

}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}
.one{
height: 54vh;
width: 28%;
border: 1px solid lightgrey;
display: flex;
flex-direction: column;
align-items: center;


}
input{
    display: block;
    height: 35px;
    width: 21vw;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    
}
h1{
    margin-top: 30px;
}
input:nth-child(odd){
    margin-top: 30px;
}
input::placeholder{
    padding-left: 10px;
    
}
button{
    height: 35px;
    width: 77%;
    background-color: rgb(77, 181, 249);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
a{
    margin-top: 20px;
    text-decoration: none;
}
.or{
    width: 78%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.or>div{
    height: 1px;
    width: 42%;
    background-color: lightgray;
    
}
.or>p{
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
    color:  gray;
}
.two{
    border: 1px solid lightgray;
    height: 60px;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.two>a{
    margin-top: 0px;
    margin-left: 5px;
    color: rgb(77, 181, 249);
    font-size: 18px;
    font-weight: 500;
}
.two>p{
    font-size: 17px;
    
}